html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
    width: 960px;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

.nav {
}

.nav__container {
    max-width: 960px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav__list {
    list-style: none;
    display: flex;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: -0.2px;
}

.nav__list li {
    margin-left: 30px;
}

.nav__list a {
    text-decoration: none;
    color: #191a1b;
}

.nav__list a:hover {
    color: #2F80ED;
    text-decoration: underline;
}

.hero {
    max-height: 560px;
    height: 560px;
}

.hero__container {
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__brand {
    font-size: 24px;
    font-weight: 400;
}

.hero__quotes {
    font-size: 72px;
    max-width: 900px;
    margin: 30px 0;
}

.hero__btn {
    display: inline-block;
    padding: 20px;
    background-color: #fff;
    border: 1px solid black;
    color: black;
    text-decoration: none;
    margin-right: 16px;
}

.hero__btn:hover {
    background-color: #F2F2F2;
}

.selected__work {
    max-width: 960px;
    margin-bottom: 60px;
}

.selected__image_1 {
    background-image: url(../assets/img/selected__work_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 960px;
    height: 520px;
}

.selected__work__title {
    font-size: 40px;
    font-weight: 600;
    padding: 20px 0;
}

.selected__work__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 20px;
}

.selected__work__btn {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    cursor: not-allowed;
    color: grey;
}

.selected__image_2 {
    background-image: url(../assets/img/selected__work_2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 960px;
    height: 520px;
}